*{
    box-sizing: border-box;
}

.list-group {
    width: auto;
    max-width: 460px;
    
  }

.shop-img{
    width: 100%;
    max-width: 300px;
}

.tab-content{
    display: flex;
    justify-content: center;
}